.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clickable {
  cursor: pointer;
}

.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.songs-table-container {
  width: 70rem;
  height: auto;
  margin-top: 80px;
  text-align: center;
}

.playlists-container {
  margin-top: 80px;
  width: 600px;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  height: 150px;
  width: 100px;
}

.create-playlist-container {
  margin: 10px;
  width: 100%;
  height: ;
}

.add-playlist-input {
  margin: 10px;
  width: 70%;
}
