body {
  background-color: #f5f5f5 !important;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clickable {
  cursor: pointer;
}

.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.nav-bar-list {
  position: fixed !important;
  display: flex !important;
  flex-flow: row nowrap !important;
  margin-right: 0 !important;
}

.form-control {
  width: 300px !important;
}

.intro-page {
  background-image: url("https://dslv9ilpbe7p1.cloudfront.net/RaIJAyI4YNPf8H3qhDlv0w_store_banner_image.jpeg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-page-span {
  color: #fff;
}

.songs-table-container {
  width: 80rem;
  height: auto;
  margin-top: 60px;
  text-align: center;
  position: relative;
}

.view-songs-btn,
.delete-songs-btn {
  color: #fff !important;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

.delete-songs-btn {
  margin-top: 15px !important;
}

.playlists-container {
  margin-top: 80px;
  width: 600px;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  height: 150px;
  width: 100px;
}

.create-playlist-container {
  margin: 10px;
  width: 100%;
}

.add-playlist-input {
  padding: 10px;
  margin: 10px;
  width: 70%;
  height: 38px;
  border-radius: 20px;
  border: none;
}

.list-group-item:hover {
  background-color: #f5f5f5;
}

.not-found-page {
  background-image: url("https://cdn.mos.cms.futurecdn.net/PuXipAW3AXUzUJ4uYyxPKC-1200-80.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

@media (min-width: 200px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid,
  .navbar-expand-lg > .container-sm,
  .navbar-expand-lg > .container-md,
  .navbar-expand-lg > .container-lg,
  .navbar-expand-lg > .container-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}
